// defaults
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  overflow-x: hidden;

  font-family: 'Courier New', Courier;
  font-style: oblique;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
  }
}

@mixin full($pad: 0) {
  position: absolute;
  top: $pad;
  left: $pad;
  right: $pad;
  bottom: $pad;
}

// global classes
.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

// imports
@import 'modules/app.scss';