$background-color: rgb(31, 31, 31);

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins.woff') format('woff');
}

// defaults
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: $background-color;

  
  font-family: 'Poppins';
  color: white;
}

// ::-webkit-scrollbar {
//   width: 0;  /* Remove scrollbar space */
//   background: transparent;  /* Optional: just make scrollbar invisible */
// }

// global classes
.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

// global vars
$breakpoint: 800px;
$header-height: 7.5vh;

// imports
@import 'modules/app.scss';
@import 'modules/scene.scss';
@import 'modules/intro.scss';
@import 'modules/projects.scss';
@import 'modules/showcase.css';
@import 'modules/link.scss';