@font-face {
  font-family: 'BebasNeue';
  src: url('assets/BebasNeue-Regular.woff') format('woff');
}

$header-height: 20px;

// defaults
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  overflow-x: hidden;

  color: white;
  
  font-family: 'BebasNeue';


  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
  }

  
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

a {
  text-decoration: none;
  color: white;
}

@mixin full($pad: 0) {
  position: absolute;
  top: $pad;
  left: $pad;
  right: $pad;
  bottom: $pad;
}

// global classes
.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.up {
    transform: translateY(-150%);
    transition: transform 1s;
}

.left {
  transform: translateX(-150%);
  transition: transform 1s;
}

// imports
@import 'modules/app.scss';
@import 'modules/about.scss';
@import 'modules/projects.scss';
@import 'modules/navigation.scss';