  @import '../styles/colors.scss';
  @import '../index.scss';

  .about {
    position: absolute;
    top: 150px;
    transition: opacity 0.25s;

    width: 100%;
    height: calc(100% - 350px);
    

    &-header {
        @include Header();
    }

    &-text {
        position: absolute;
        left: 60%;
        transform: translateX(-50%);

        width: 30%;
    }

    &-headshot {
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
        width: 20%;
        padding: 10px;
        border-radius: 500px;

        border: white 1px solid;

        filter: grayscale(33%);

    }
}