@import '../styles/colors.scss';

.project {
    position: relative;
    color: $off-white;
    text-align: center;
    // white-space: nowrap;
    font-size:  0.9rem;

    &-background {
        position: absolute;
        top: 11px;
        left: 11px;
        width: calc(100% - 20px);
        aspect-ratio: 16/9;

        background: $low-black;
    }

    &-preview {
        padding: 10px;
        margin-bottom: 5px;
        border: $low-white 1px solid;

        width: calc(100% - 20px);
        aspect-ratio: 16/9;
        object-fit: contain;
        
        cursor: pointer;

        opacity: 100%;

        &.low-opacity {
            opacity: 75%;
    
            &:hover {
                opacity: 100%;
            }
        }
        

        filter: grayscale(33%);
        transition: opacity .25s, filter .25s, border .25s;

        &:hover {
            border: white 1px solid;

        }
    }

}