@import '../index.scss';
@import '../styles/colors.scss';

.resume {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    height: calc(100% - 275px);

    transition: opacity .25s;

    &-header {
        @include Header;
        cursor: pointer;
    }

    &-preview {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: calc(100% - 100px);
        border: $low-white 1px solid;

        padding: 10px;

        cursor: pointer;

        &:hover {
            border: white 1px solid;
        }
    }
}