  .about {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);

    transition: opacity 0.25s;

    width: 80%;
    // height: calc(100% - 350px);

    display: flex;
    justify-content: center;
    // align-items: center;
    column-gap: 50px;
    

    &-header {
        @include Header();
    }

    &-headshot {
        width: 40%;
        max-width: 300px;
        // height: fit-content;
        padding: 10px;
        // margin-top: 50px;
        border-radius: 500px;

        border: white 1px solid;

        filter: grayscale(33%);

    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .about {
        display: block;

        &-headshot {
            position: relative;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
            width: 60%;

        }
    }
}