.app {
  position: absolute;
  width: 100%;
}

.game {
  width: 100%;
}

.header {
  position: absolute;
  top: $header-height;
  left: 20px;

  &-title {
    font-size: xx-large;
  }

  &-subtitle {
    font-size: x-large;
  }
}