@mixin LineAnimation($width: 20%) {
  @keyframes LineAnimation {
    from { width: 0;}
    to { width: $width;}
  }

  animation: LineAnimation 1s;
}

.intro {
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 1300px;
  left:50%;
  transform: translateX(-50%);
  
  &-title {
    font-size: 1rem;
  }

  &-name {
    position: relative;
    font-size: 1.5rem;

    $margin: 10px;

    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 5px;
      background: #fff;
      top: 50%;

      margin: 0 $margin;

      $width: 15%;
      width: $width;
      @include LineAnimation($width);
    }
      
    &::before {
      transform: translateX(calc(-100% - #{$margin} * 2))
    }
  }

  &-links {
    display: flex;
    justify-content: space-around;

    $width: 90%;
    width: $width;
    padding-left: calc((100% - #{$width}) / 2);
  }

  &-about {
    text-align: left;

    $width: 70%;
    width: $width;
    padding-left: calc((100% - #{$width}) / 2);
  }

  &-divider {
    content: "";
    $width: 70%;
    width: $width;
    height: 0.25px;
    margin: 5% calc((100% - #{$width}) / 2);
    background: #fff;
  }

  &-wrapper {
    position: relative;
    margin-top: 50px;
    width: 100%;
  }

  @media only screen and (min-width: 1024px) {

    &-title {
      font-size: 2rem;
    }
  
    &-name {
      font-size: 3rem;
      // &::before,
      // &::after {
      //   content: "";
      //   position: absolute;
      //   height: 5px;
      //   background: #fff;
      //   top: 50%;
      //   margin: 0 50px;

      //   $width: 20%;
      //   width: $width;
      //   @include LineAnimation($width);
      // }
        
      // &::before {
      //   transform: translateX(calc(-100% - 100px))
      // }
    }

    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      height: 100px;
    }

    &-links {
      display: flex;
      justify-content: space-around;
      width: 40%;
    }

    &-about {
      width: 40%;
      padding: 10px;
      text-align: left;
    }

    &-divider {
      content: "";
      width: 0.5px;
      height: 100%;
      margin: 0 5%;
      background: #fff;
    }
    
  }
}


