@mixin inset() {
    border-style: inset;
    border-color: orange;
    border-width: thick;
    border-radius: 5px;
}

.inventory {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);

    width: 90%;
    height: 70%;

    background-color: rgba(250, 212, 132, 1);
    background-repeat: no-repeat;
    background-position: center;

    border-style: outset;
    border-color: orange;
    border-width: thick;
    border-radius: 5px;

    opacity: 1;
    visibility: visible;

    transition: opacity 0.5s ease-in-out, visibility 0.5s; 
    overflow-y: auto;

    &.hidden {
        opacity: 0;
        visibility: none;
    }

    &-label {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);

        font-size: xx-large;
        text-align: center;
    }

    &-content {
        position: absolute;
        top: 30%;
        width: 100%;
        height: 50%;
    }    
}

.about {
    position: absolute;
    height: 100%;
    width: 100%;

    &-avatar {
        @include inset;
        position: absolute;
        top: -10%;
        left: 10%;
        height: 100%;
        width: 20%;
    }

    &-body {
        position: absolute;
        right: 10%;

        width: 50%;
    }
}
  

$resume-body-width: 40%;

.resume {
    height: 100%;

    &-body {
        position: absolute;
        left: 5%;
        width: $resume-body-width;
    }

    &-skills {
        position: absolute;
        right: 5%;
        width: 30%;
        height: 30%;

        &-web, &-threed {
            width: 100%;
            margin-bottom: 10%;

            display: grid;
            grid-template-columns: repeat(3, minmax(10%, 1fr));
            grid-template-rows: 1fr;
            grid-gap: 10%;
            
            background-image: linear-gradient(to left, rgb(255, 166, 0), rgb(59, 36, 14));
            background-repeat: no-repeat;
            background-size: 100% 10%;
            background-position: center;
        }

        &-label {
            text-align: center;
            font-size: x-large;
            margin-bottom: 5%;
        }


        &-slot {
            @include inset();
            background: navajowhite;
            display: flex;
            border-radius: 100%;

            $skill-size: 60%;
    
            &-image {
                width: $skill-size;
                height: $skill-size;
                margin-top: calc((100% - #{$skill-size}) / 2);
                margin-left: calc((100% - #{$skill-size}) / 2);
            }
        }

        &-slot:before {
            content: "";
            display: block;
            height: 0;
            width: 0;
            padding-bottom: 100%;
        }
          
    }

    

    // &-skills {
    //     display: flex;
    //     flex-wrap: wrap;
    //     width: 50%;
    //     height: 50%;
    //     position: absolute;
    //     right: 0;
    // }

    

    
}
  