.link {
  cursor: pointer;

  $transitionDuration: 0.25s;
  transition: transform $transitionDuration;

  &:hover {
    transform: scale(125%);
    transition: transform $transitionDuration;
  }

  &-image {
    height: 50px;
  }

  &-label {
    margin-top: 10px;
    font-size: 1rem;
  }

  &-sublabel {
    font-size: 0.75rem;
    color: cyan;
  }
}