.projects {
  pointer-events: none;

  position: absolute;
  right: 0;
  width: 30%;
  max-width: 800px;
  height: 100%;

  &-slider {
    pointer-events: visible;
    position: absolute;
    height: 100%;
    width: 100%;

    &-project {
      text-align: center;
      width: 60%;
     
      &-video {
        width: 100%;
        transition: opacity 1s;
        box-shadow: 5px 5px 20px rgba($color: #000000, $alpha: 1);
        border: 1px solid black;

        
      }

      &-label {
        pointer-events: none;
        text-shadow: 0 0 20px black;
        white-space: nowrap;
      }

    }
  }
}

@media only screen and (min-width: 701px) {
  .projects {
    &-arrow {
      position: absolute;
      left: 50%;
      width: 40px;
      filter: invert(1);
  
      &.up {
        top: 50px;
        transform: translateX(-50%) rotate(-90deg) ;
      }
  
      &.down {
        bottom: 50px;
        transform: translateX(-50%) rotate(90deg) ;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .projects {
    position: absolute;
    bottom: 50px;
    width: 100%;
    // margin-right: 25%;
    height: 30%; 
    
    &-arrow {
      pointer-events: all;
      position: absolute;
      top: 40%;
      width: 40px;
      filter: invert(1);

  
      &.up {
        left: 10px;
        transform: translateY(-50%) rotate(180deg);
      }
  
      &.down {
        right: 10px;
        transform: translateY(-50%);
      }
    }
  }
}