.scene {
    width: 100%;
    height: 100%;
    // background: linear-gradient(caf0f8, ade8f4);
    // background: #caf0f8;

    &-overlay {
        width: 100%;
        height: 100%;
        // background: transparent;
        // background-color: rgba(0,0, 0, 0);
    }
}