@import './styles/colors.scss';

$background-color: rgba(30,30,30,1);
$menu-width: 450px;

body {
    margin: 0;
    overflow: hidden;

    font-family: 'Roboto', sans-serif;
    color: white;
}

.app {
    width: 100%;
}

.hidden {
    pointer-events: none;
    opacity: 0;
}

@mixin Header {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin-bottom: 25px;
}

@mixin Link {
    cursor: pointer;

    opacity: 50%;
    transition: opacity .25s;

    font-size: 0.9rem;
    text-align: center;
    color: white;

    &:hover {
        opacity: 100%;
    }
}